<!-- 
<h3>SEARCH 搜索</h3>
<div id="site_search">
    <input type="text" id="search_box" placeholder="请输入关键字">
    <button class="btn btn-default" id="site_search_do"><span class="octicon octicon-search"></span></button>
</div>

<ul id="search_results"></ul>

<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/modules/sidebar-search.css">
<script src="{{ site.url }}/assets/js/lunr.min.js" defer="defer"></script>
<script src="{{ site.url }}/assets/js/search.js" defer="defer"></script> 
-->
<h3>SEARCH 搜索</h3>
<div id="site_search">
    <form method="get"  target="_blank"  action="https://www.baidu.com/s">  
	    <div style="background-color:white">  
	            <input type="text" name="q1" id="search_box" placeholder="请输入关键字">
	            <!-- <input type="submit" value="搜索" /> -->
	            <button class="btn btn-default" id="site_search_do"><span class="octicon octicon-search"></span></button>
	            <input name="q2" type="hidden" value="zzzili" />  
	            <input name="rn" type="hidden" value="10" />  
	            <input name="lm" type="hidden" value="0" />  
	            <input name="ct" type="hidden" value="0" />  
	            <input name="q6" type="hidden" value="yunchow.com" />    
	    </div>  
	</form> 
</div>
